*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
min-height: 16vh;
position: relative;
display: flex;
}
/*
.logo {
position: absolute;
right: 0%;
top: 82%;
background-color: black;
padding: 10px

}*/
.logo {
    position: absolute;
    left: 90%;
    background-color: black;
  
    padding: 2px;
  }
  .titulo {
    position: absolute;
    background-color: black;
    color: bisque;
    border-radius: 1rem;
  }
.imagen{
    
}
nav {
min-height: 5vh;
color: rgb(242, 241, 241);
background-color: black;
display: flex;
justify-content: center;
align-items: center;

}
.evento {
    background-color: rgb(2, 2, 2);
}

main {
    display: flex;
min-height: 57vh;
flex-direction: row;
background-color: bisque;
width: 100%;
}

.divA {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    min-width: none;
    padding: 1rem;
    gap: 5px;
    max-width: 25%;
}
.divA :hover {
    transform:translate(2px) ;
}
.A {
    padding: 13px;
    border-radius: 10px;
    background-color: rgb(138, 100, 100);
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 1rem;
    
    
    
}
.divB {
    padding: 1rem;
}
footer {



}