*{ 
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

header{
min-height: 16vh;
position: relative;
display: flex;
}

.titulo{
    position: absolute;
    background-color: black;
    color:bisque;
    border-radius: 1rem;
    
}
.imagen{
   
}
nav {
min-height: 5vh;
color: bisque;
background-color: black;
display: flex;
justify-content: center;
align-items: center;

}
.evento {
    background-color: rgb(2, 2, 2);
}

main {
    display: flex;
min-height: 79vh;
flex-direction: row;
background-color: bisque;
width: 100%;
}
.rules {
display: flex;
flex-direction: column;
}
.R{
display: flex;
justify-content: center;
align-content: center;
}
.divA {
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    min-width: none;
    padding: 1rem;
    gap: 5px;
    max-width: 25%;
}
.divA :hover {
    transform:translate(2px) ;
}
.A {
    padding: 13px;
    border-radius: 10px;
    background-color: rgb(138, 100, 100);
    text-decoration: none;
    color: rgb(0, 0, 0);
    display: flex;
    align-items: center;
    height: 1rem;    
}
section {
    max-width: 80%;
}
.divB {
    padding: 1rem;
}
dl dt {
   
    font-weight: 900;
}

/*2560*/
@media (max-width: 2560px) {
    body {
      max-width: fit-content;
    max-height: fit-content;
    }
    section{
      max-width: fit-content;
      padding: 1rem;
    }
    
  }
  /*784px*/
  @media (max-width: 768px) {
    .uno {
      display: flex;
      flex-direction: column;
    }
  
  }
    /*630*/
    @media (max-width:620px){
      .titulo{
        width: 60%;
      }
        main{
      display: flex;
      flex-direction: column;
      
      }
        .divA{
          max-width: 75%;
          height: 3rem;
          display: flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          flex-wrap: nowrap;
          /*background-color: rgb(138, 100, 100);*/
      }
      .A{
       display: flex;
       justify-content: center;
       align-items: center;
      flex-direction: column;
       font-size: 1rem;
       padding: 1rem; 
      } 
      section{
        max-width: 96%;
        padding: 1rem;
        position: relative;
        left: 1rem;
        
      }
      .logo{
        visibility: hidden;
      }
      }
      /*575*/
      @media (max-width:575px){
        .titulo{
          width: 60%;
        }
          main{
        display: flex;
        flex-direction: column;
        
        }
          .divA{
            max-width: 400px;
            height: 3rem;
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            flex-wrap: nowrap;
            /*background-color: rgb(138, 100, 100);*/
        }
        .A{
         display: flex;
         justify-content: center;
         align-items: center;
        flex-direction: column;
         font-size: 1rem;
         padding: 1rem; 
        } 
        section{
          max-width: 96%;
          padding: 1rem;
          position: relative;
          left: 1rem;
          
        }
        .logo{
          visibility: hidden;
        }
        }
    
  /*548*/
  @media (max-width:548px){
  .divA {
    
    display: flex;
    align-items: stretch;
    justify-content: flex-end;
   height: 15rem ;
  flex-direction: column;  
  padding: 0;
  
  width: 600px;
  gap: 9px;
  }
  .A{
    display: flex;
    justify-content: center;
    font-size: large;
  
  }
  main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
  }
  section{
    left: 0%;
  
    
  }
  }
  /*395*/
  @media (max-width:395px){
  .divA{
    align-items: center;
  }
  }